
*{
    margin:0;
    padding:0;
    text-align: center;
}

.main{
    
    display: inline-block;
    justify-content: center;
    align-content: center;
    background-color: cornflowerblue;
    padding: 10px 10px;
    border: 7px solid blue;
    border-radius: 10px;
    margin:100px auto;
}


p{ 
     font-size: 25px;
     font-weight: 600;
    text-align: center;
    margin:40px 40px;
}